@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
body {
    background-color: #e1e5f8;
}

#container {
  text-align: center;
}

.padd {
    font-size: 4rem;
    font-family: Georgia, monospace;
    color: #23297A;
}

table {
  border-collapse: collapse;
  font-size: 2em;
  margin: 0 auto;
}

colgroup,
tbody {
  border: solid medium;
}

td {
  border: solid thin;
  outline: none;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
  background-color: white;
}

.btns{
    display: flex;
    text-align: center;
    justify-content: center;
}

button {
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #23297A;
    color: white;
    margin-left: 5px;
    border: #23297A;
    border-radius: 5px;
    padding: 10px 15px;
    width: 120px;
}

button:hover{
    color: white;
    background-color: #2c32a6;
    outline: #23297A;
    transition: all 0.1s ease;
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    .padd {
        font-size: 4.2rem;
    }

    table {
      font-size: 1.5em;
    }

    button{
        font-size: 1rem;
    }
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 300px;
  padding: 15px;
  background-color: #e74c3c; /* Red color */
  color: #fff; /* White text */
  border: 1px solid #c0392b;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
}